:root {
  --clr-white: rgb(255, 255, 255);
  --clr-light-blue: rgb(104, 203, 241);
  --nav-ff-clr: rgb(255, 255, 255);
  --nav-bg: rgb(7, 105, 173);
  --menu-light-bdr: rgb(104, 203, 241, 0.7);
  --menu-dark-bdr: rgb(0, 0, 139, 0.7);
  --active-hover: var(--menu-dark-bdr);
  --menu-bg: rgb(7, 105, 173);
  --footer-bg: var(--menu-bg);
  --main-bg: var(--menu-bg);
  --main-ff-clr: rgb(37, 36, 36);
  --shadow: var(--main-ff-clr);
  --btn-bg: rgb(37, 36, 36);
  --btn-bg-light: rgb(0, 0, 0);
  --btn-clr: rgb(104, 203, 241);
  --toggle-body-clr: var(--clr-white);
  --toggle-btn-light: rgb(104, 203, 241);
  --toggle-btn-dark: rgb(7, 105, 173);
  --toggle-btn-move: translateX(-20px);
}
.darkmode {
  --nav-ff-clr: rgb(104, 203, 241);
  --nav-bg: url(../img/jq-global-nav.png) repeat-x 0 bottom;
  --menu-light-bdr: rgb(255, 255, 255, 0.09);
  --menu-dark-bdr: rgb(0, 0, 0, 0.34);
  --active-hover: rgb(0, 0, 0);
  --menu-bg: url(../img/bg-footer-noise.jpg);
  --footer-bg: url(../img/bg-footer-noise.jpg);
  --main-bg: var(--menu-bg);
  --main-ff-clr: rgb(145, 139, 139);
  --shadow: var(--nav-ff-clr);
  --btn-bg: rgb(104, 203, 241);
  --btn-bg-light: rgb(129, 210, 241);
  --btn-clr: rgb(37, 36, 36);
  --toggle-body-clr: var(--btn-bg);
  --toggle-btn-light: var(--btn-clr);
  --toggle-btn-dark: var(--main-ff-clr);
  --toggle-btn-move: translateX(5px);
}
body {
  position: relative;
  background-color: var(--clr-white);
}
/* Header */
#nav {
  position: sticky;
  top: 0rem;
  width: 100%;
  height: 34px;
  padding: 0rem 0.5rem;
  justify-content: space-between;
  background: var(--nav-bg);
  border-bottom: 1px solid var(--clr-light-blue);
  z-index: 99;
}
#logo {
  font-size: 23px;
  font-weight: 500;
  color: var(--nav-ff-clr);
}
.menu {
  border-right: 1px solid var(--menu-light-bdr);
  border-left: 1px solid var(--menu-dark-bdr);
}
.menu li a {
  display: block;
  width: 5rem;
  height: 33px;
  line-height: 34px;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  border-left: 1px solid var(--menu-light-bdr);
  border-right: 1px solid var(--menu-dark-bdr);
  color: var(--nav-ff-clr);
}
.menu li a:hover,
.menu li.active {
  background: var(--active-hover);
}
#check,
label {
  display: none;
}
.box {
  display: block;
  padding: 1px 10px;
  background-color: var(--nav-ff-clr);
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.two {
  margin: 3px 0px;
}
#check:checked ~ label .one {
  transform: translateY(5px) rotate(45deg);
}
#check:checked ~ label .two {
  transform: translate(-100px, 0rem);
  opacity: 0;
}
#check:checked ~ label .three {
  transform: translateY(-5px) rotate(-45deg);
}
#toggle_body {
  position: relative;
  padding: 0.25rem 1rem;
  background-color: var(--toggle-body-clr);
  border-radius: 40px;
  margin: 0rem 1rem 0rem auto;
  transition: background-color 0.3s ease;
}
#toggle_button {
  position: absolute;
  top: -0.2rem;
  transform: var(--toggle-btn-move);
  padding: 0.43rem;
  background-image: linear-gradient(
    to right,
    var(--toggle-btn-light),
    var(--toggle-btn-dark)
  );
  border-radius: 50%;
  border: 0.05rem solid var(--toggle-btn-light);
  transition: transform 0.2s ease-in-out;
}
/* Main */
#content {
  padding: 0.5rem;
}
#main_content {
  max-width: 1279px;
  margin: 2rem auto 9.9rem auto;
  padding: 0.7rem 0.5rem;
  border-radius: 0.3rem;
  background: var(--main-bg);
}
.content_title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-ff-clr);
  text-shadow: 0.08rem 0.08rem var(--clr-light-blue);
  letter-spacing: 0.2rem;
}
/* Home */
.pages_title {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: var(--clr-white);
  line-height: 2rem;
  font-weight: 250;
}
.link {
  color: var(--main-ff-clr);
  text-shadow: 0.05rem 0.05rem var(--clr-light-blue);
  font-weight: 450;
}
.link:hover {
  text-decoration: underline;
}
.projects_wrapper {
  max-width: 650px;
  flex-direction: column;
  gap: 1rem;
}
.page_title {
  padding-top: 0.7rem;
  display: block;
  margin-right: auto;
  font-size: 1.8rem;
  color: var(--main-ff-clr);
  text-shadow: 0.04rem 0.04rem var(--clr-light-blue);
  font-weight: 500;
}
.app_name {
  font-size: 1.2rem;
  color: var(--clr-white);
  margin-right: auto;
  text-shadow: 0.08rem 0.08rem var(--clr-dark);
}
.img {
  width: 100%;
  height: 350px;
  border-radius: 0.3rem;
  object-fit: cover;
}
/* About */
#obj_list {
  padding-top: 0.7rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
#obj_list li {
  color: var(--clr-white);
  text-shadow: 0.05rem 0.05rem var(--clr-dark);
  font-weight: 300;
}
#obj_list li::before {
  content: '-> ';
}
/* Projects */
#project_list {
  padding-top: 1rem;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.description {
  display: block;
  max-width: 650px;
  padding-top: 0.7rem;
  color: var(--clr-white);
  font-weight: 300;
  line-height: 1.5rem;
}
.description::before {
  content: 'Description: ';
}
.slider {
  position: relative;
  max-width: 650px;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.7rem;
}
.fa-angle-left,
.fa-angle-right {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
}
.fa-angle-left {
  left: 0.3rem;
}
.fa-angle-right {
  right: 0.3rem;
}
/* Contact */
.contact_form {
  max-width: 350px;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  box-shadow: -1px -1px 3px -1px var(--shadow), 1px 1px 3px 1px var(--shadow);
  border-radius: 0.3rem;
}
.contact_form > p {
  color: var(--main-ff-clr);
  font-size: 1.3rem;
  font-weight: 550;
  text-shadow: 0.03rem 0.03rem var(--clr-light-blue);
}
.contact_form input,
.contact_form textarea,
.contact_form button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.3rem;
}
.contact_form button {
  font-size: 0.9rem;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  border: 1px solid (--btn-bg);
  letter-spacing: 0.2rem;
}
.contact_form button:hover {
  background-color: var(--btn-bg-light);
  color: var(--btn-clr);
}
/* Footer */
#footer {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  padding: 2rem 0rem;
  background: var(--footer-bg);
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.footer_icons_wrapper {
  gap: 1.5rem;
}
.footer_icons_wrapper a i {
  font-size: 1.8rem;
  color: var(--nav-ff-clr);
  border-radius: 50%;
}
.footer_icons_wrapper a i:hover {
  transform: scale(1.1);
}
#footer_text {
  font-size: 0.8rem;
  color: var(--nav-ff-clr);
  font-weight: 300;
  letter-spacing: 0.1rem;
}
#footer_menu {
  gap: 1.5rem;
}
#footer_menu li a {
  color: var(--nav-ff-clr);
  font-weight: 300;
}
#footer_menu li a:hover {
  text-decoration: underline;
}
#footer.fixed {
  position: fixed;
}
@media (max-width: 650px) {
  #projects .img {
    object-fit: contain;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 14px;
  }
  label {
    display: block;
  }
  #nav {
    position: fixed;
  }
  #content {
    padding: 3rem 0rem 0.5rem 0rem;
    width: 100%;
  }
  .menu {
    position: fixed;
    height: calc(100vh - 34px);
    width: 100vw;
    top: 34px;
    left: -999px;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--menu-bg);
    border: unset;
    transition: all 0.3s ease-in-out;
  }
  #check:checked ~ .menu {
    left: 0rem;
  }
  .menu li a {
    border: unset;
  }
  #main_content {
    border-radius: unset;
    margin: 0rem auto 9.9rem auto;
  }
  .contact_form {
    margin: 1rem auto 0rem auto;
  }
}
